
snippet fn "function" b
${1} : $2
$1 ${3}${3/..*/ /}=
    $4
endsnippet

snippet ffn "function" bA
${1} : $2
$1 ${3}${3/..*/ /}=
    $4
endsnippet

snippet llet "let construct" bA
let
	$1
in$2
endsnippet

snippet doc "Documentation comment"
{-|
  $1
-}
endsnippet

snippet pln "print" b
_ = Debug.log "$1" $2
endsnippet
snippet dbg "debug print" b
_ = Debug.log "$1" $1
endsnippet
